@media (min-width: 1600px) and (max-width: 1800px) {

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        right: 130px;
    }

    .case_studies .prevArrow {
        right: 180px;
    }

    .single_case_studies {
        height: 475px;
    }

    .awar_text::after {
        font-size: 120px;
        bottom: -175px;
        left: -90px;
    }

    .fun_fact_3_img .img {
        width: 500px;
        height: 500px;
        left: 0;
    }

    .fun_fact_3_img .main_icon {
        left: 300px;
    }

    .portfolio_item_3 {
        height: 490px;
    }

    .testimonial_3 {
        padding-left: 153px;
    }

    .testimonial_3 .nextArrow,
    .testimonial_3 .prevArrow {
        left: -430px;
    }

    .testimonial_3 .prevArrow {
        left: -480px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 150px;
    }

    .single_blog_3_text {
        max-width: 60%;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 165px;
    }

    .blog_3 .prevArrow {
        right: 215px;
    }

    .footer_3::after {
        width: 450px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .single_case_studies {
        height: 555px;
    }

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        right: 40px;
    }

    .case_studies .prevArrow {
        right: 90px;
    }

    .awar_text::after {
        font-size: 100px;
        bottom: -165px;
        left: 0;
    }

    .fun_fact_3_img .img {
        width: 450px;
        height: 450px;
        left: 0;
    }

    .fun_fact_3::after {
        width: 470px;
    }

    .fun_fact_3_img .main_icon {
        left: 280px;
    }

    .portfolio_item_3 {
        height: 430px;
    }

    .testimonial_3 {
        padding-left: 52px;
    }

    .single_testimonial_3_content .text {
        width: 71%;
    }

    .testimonial_3 .section_heading h2 {
        font-size: 56px;
    }

    .single_testimonial_3_content {
        gap: 15px;
        padding: 30px 18px;
    }

    .testimonial_3 .nextArrow,
    .testimonial_3 .prevArrow {
        left: -393px;
    }

    .testimonial_3 .prevArrow {
        left: -443px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 50px;
    }

    .single_blog_3_text {
        padding: 25px;
        max-width: 57%;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 65px;
    }

    .blog_3 .prevArrow {
        right: 115px;
    }

    .footer_3::after {
        width: 370px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    /*=============================
        HOME PAGE 01 START
    ==============================*/
    .banner .banner_text h1 {
        font-size: 96px;
        line-height: initial;
    }

    .banner .banner_img .img {
        height: 480px;
    }

    .banner .banner_text {
        padding-top: 45px;
    }

    .single_services {
        padding: 30px 20px;
    }

    .single_services p {
        margin-bottom: 5px;
    }

    .section_heading h2 {
        font-size: 56px;
    }

    .single_portfolio .img {
        height: 225px;
    }

    .about_img {
        height: 450px;
    }

    .single_testimonial_bg {
        padding: 70px 50px;
    }

    .testimonial_text {
        padding-left: 30px;
    }

    .single_blog_img {
        height: 270px;
    }

    /*=============================
        HOME PAGE 01 END
    ==============================*/

    /*=============================
        HOME PAGE 02 START
    ==============================*/
    .banner_2 .banner_img .img {
        height: 635px;
    }

    .single_services_2 {
        padding: 45px 30px;
    }

    .about_2_img .text {
        right: 50px;
    }

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        right: 12px;
    }

    .case_studies .prevArrow {
        right: 62px;
    }

    .single_case_studies {
        height: 470px;
    }

    .awar_text::after {
        font-size: 100px;
        bottom: -180px;
        left: 0;
    }

    .single_team_img {
        height: 295px;
    }

    .blog_img_2 {
        height: 225px;
    }

    .blog_text_2 ul li {
        font-size: 14px;
        margin-right: 14px;
    }

    .banner_2 .banner_text h1,
    .banner_2 .banner_text h1 span {
        font-size: 76px;
        line-height: initial;
    }

    /*=============================
        HOME PAGE 02 END
    ==============================*/

    /*=============================
        HOME PAGE 03 START
    ==============================*/
    .banner_3 {
        padding-top: 130px;
    }

    .fun_fact_3_img .img {
        width: 410px;
        height: 405px;
    }

    .fun_fact_3::after {
        width: 300px;
    }

    .fun_fact_3_img .main_icon {
        bottom: -235px;
        left: auto;
        right: 30px;
    }

    .about_us_3_text {
        padding: 0 30px 0px 0px;
    }

    .about_us_3_text .nav-pills .nav-item button {
        font-size: 14px;
    }

    .portfolio_item_3 {
        height: 370px;
    }

    .portfolio_item_3 .text {
        padding: 30px;
    }

    .partner_3_logo_area ul li {
        padding: 35px 50px;
    }

    .testimonial_3 {
        padding-left: 40px;
    }

    .testimonial_3 .nextArrow,
    .testimonial_3 .prevArrow {
        left: -330px;
    }

    .testimonial_3 .prevArrow {
        left: -380px;
    }

    .testimonial_3 .section_heading h2 {
        font-size: 42px;
    }

    .portfolio_item_3 .text a {
        font-size: 22px;
    }

    .single_team_3 {
        height: 315px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 38px;
    }

    .blog_3 .slick-list {
        padding-right: 150px !important;
    }

    .single_blog_3_img {
        width: 210px;
        height: 300px;
    }

    .single_blog_3_text {
        max-width: 57%;
        padding: 25px;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 55px;
    }

    .blog_3 .prevArrow {
        right: 105px;
    }

    .footer_3::after {
        width: 350px;
    }

    .footer_3_top {
        padding: 30px 0px 30px 340px;
    }

    .footer_3_top ul li img {
        max-width: 135px;
    }

    .footer_3_top ul li:last-child img {
        max-width: 32px;
    }

    .footer_gallery ul li {
        width: 68px;
        height: 68px;
    }

    .single_testimonial_3_content .text {
        width: 84%;
    }

    /*=============================
        HOME PAGE 03 END
    ==============================*/

    /*=============================
        BLOG DETAILS START
    ==============================*/
    .blog_det_img {
        height: 420px;
    }

    .blog_det_center_img {
        height: 325px;
    }

    .single_comment .text {
        width: 87%;
    }

    .single_comment.reply .text {
        width: 86%;
    }

    .blog_sidebar_product ul li .text {
        width: 66%;
    }

    .blog_sidebar_tags ul li a {
        font-size: 14px;
        padding: 7px 20px;
    }

    /*=============================
        BLOG DETAILS END
    ==============================*/
    .contact_img {
        height: 450px;
    }

    .error_text h2 {
        font-size: 300px;
        line-height: 220px;
    }

    .portfolio_details_thumbnail {
        height: 430px;
    }

    .portfolio_details_sidebar {
        padding-left: 0;
    }

    /*=============================
        SERVICE DETAILS START
    ==============================*/
    .service_details_thumbnail {
        height: 440px;
    }

    .service_details_small_img {
        height: 235px;
    }

    .sidebar_services ul li a .text {
        width: 68%;
    }

    .sidebar_expert {
        height: 450px;
    }

    .sidebar_expert .text {
        padding: 25px;
    }

    /*=============================
        SERVICE DETAILS END
    ==============================*/
    .team_details_img {
        height: 400px;
    }

    .team_details_text_top {
        padding: 25px;
    }

    .single_team_text .title {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /*=============================
        HOME PAGE 01 START
    ==============================*/
    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 15px;
    }

    .banner .banner_text {
        padding-top: 55px;
    }

    .banner .banner_text h1,
    .banner .banner_text h1 span {
        font-size: 80px;
        line-height: initial;
    }

    .banner .banner_img .img {
        height: 415px;
        margin-top: 70px;
    }

    .single_services {
        padding: 31px 20px;
    }

    .section_heading_2 {
        padding-bottom: 5px;
    }

    .single_services p {
        margin-bottom: 15px;
    }

    .faq_img .img_1 {
        width: 380px;
        height: 460px;
    }

    .section_heading h2 {
        font-size: 46px;
    }

    .faq_img .img_2 {
        width: 260px;
        height: 370px;
    }

    .accordian_area .accordion-header button {
        font-size: 17px;
    }

    .single_portfolio .img {
        height: 290px;
    }

    .about_img {
        height: 455px;
    }

    .testimonial_text {
        padding-left: 25px;
    }

    .single_testimonial_bg {
        padding: 60px 30px;
    }

    .single_blog_img {
        height: 345px;
    }

    .footer_mailbox {
        padding: 45px 60px;
    }

    .footer_link ul li a {
        margin-top: 17px;
    }

    /*=============================
        HOME PAGE 01 END
    ==============================*/

    /*=============================
        HOME PAGE 02 START
    ==============================*/
    .banner_2 .banner_img .img {
        height: 590px;
    }

    .banner_2 .banner_img .text {
        padding: 30px 30px 25px 40px;
    }

    .single_services_2 {
        padding: 40px 25px;
    }

    .single_services_2 .title {
        font-size: 20px;
    }

    .about_2_img .img {
        width: 400px;
        height: 385px;
    }

    .about_2_img .text h2 {
        font-size: 80px;
        line-height: initial;
    }

    .about_2_img .text {
        bottom: 50px;
        right: 0;
        padding: 25px;
    }

    .about_2_img .text P {
        font-size: 15px;
        max-width: 100%;
    }

    .about_2_img::before {
        width: 430px;
        height: 290px;
        left: 0;
    }

    .about_2_img::after {
        width: 450px;
        height: 500px;
        left: 0;
    }

    .about_2_text .top::after {
        width: 75px;
        height: 21px;
        top: 90px;
        left: -55px;
    }

    .awar_text {
        padding-right: 0;
    }

    .awar_text::after {
        font-size: 90px;
        bottom: -160px;
        left: 0;
    }

    .single_team_img {
        height: 330px;
    }

    .blog_img_2 {
        height: 290px;
    }

    .footer_link h4,
    .footer_subscription h4,
    .footer_gallery h4 {
        font-size: 20px;
    }

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        top: -80px;
        right: 13px;
    }

    .case_studies .prevArrow {
        right: 63px;
    }

    .single_case_studies {
        height: 590px;
    }

    /*=============================
        HOME PAGE 02 END
    ==============================*/

    /*=============================
        HOME PAGE 03 START
    ==============================*/
    .banner_3 {
        padding-top: 130px;
    }

    .fun_fact_3_img .img {
        width: 410px;
        height: 405px;
        bottom: 0;
        left: 465px;
    }

    .fun_fact_3::after {
        width: 300px;
    }

    .fun_fact_3_img .main_icon {
        bottom: 85px;
        left: auto;
        right: 60px;
    }

    .fun_fact_3_text li {
        padding-right: 40px;
    }

    .fun_fact_3_text li:last-child {
        padding-left: 45px;
    }

    .about_us_3_text {
        padding: 0 30px 0px 0px;
    }

    .about_us_3_text .nav-pills .nav-item button {
        font-size: 13px;
    }

    .portfolio_item_3 {
        height: 410px;
    }

    .portfolio_item_3 .text {
        padding: 30px;
    }

    .partner_3_logo_area ul li {
        padding: 35px 50px;
    }

    .testimonial_3 {
        padding-left: 25px;
    }

    .testimonial_3 .nextArrow,
    .testimonial_3 .prevArrow {
        left: -266px;
    }

    .testimonial_3 .prevArrow {
        left: -315px;
    }

    .testimonial_3 .section_heading h2 {
        font-size: 42px;
    }

    .portfolio_item_3 .text a {
        font-size: 22px;
    }

    .single_team_3 {
        height: 360px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 25px;
    }

    .blog_3 .slick-list {
        padding-right: 150px !important;
    }

    .single_blog_3_text {
        max-width: 70%;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 40px;
    }

    .blog_3 .prevArrow {
        right: 90px;
    }

    .footer_3::after {
        width: 200px;
    }

    .footer_3_top {
        padding: 30px 0px 30px 200px;
    }

    .footer_3_top ul li img {
        max-width: 135px;
    }

    .footer_3_top ul li:last-child img {
        max-width: 32px;
    }

    .footer_3_content {
        padding: 25px 0px 0px 50px;
    }

    .footer_gallery ul li {
        width: 55px;
        height: 55px;
    }

    .footer_3_copytight::before {
        left: -50px;
    }

    .footer_3_copytight .row {
        margin-top: 50px !important;
    }

    /*=============================
        HOME PAGE 03 END
    ==============================*/

    /*=============================
        BLOG DETAILS START
    ==============================*/
    .blog_det_img {
        height: 350px;
    }

    .blog_det_center_img {
        height: 270px;
    }

    .single_comment .text {
        width: 85%;
    }

    .single_comment.reply {
        padding-left: 50px;
    }

    .single_comment.reply .text {
        width: 84%;
    }

    .blog_sidebar_product ul li .text {
        width: 57%;
    }

    .blog_sidebar_tags ul li a {
        font-size: 14px;
        padding: 8px 20px;
    }

    /*=============================
        BLOG DETAILS END
    ==============================*/
    .contact_img {
        height: 375px;
    }

    .contact_form {
        padding-left: 0;
    }

    .error_text h2 {
        font-size: 300px;
    }

    .error_text h4 {
        margin-top: 0;
    }

    .faq_page .faq_thimbnail {
        height: 370px;
    }

    .faq_page_text {
        margin-bottom: 35px;
    }

    .portfolio_details_thumbnail {
        height: 360px;
    }

    .portfolio_details_sidebar {
        padding-left: 0;
    }

    /*=============================
        SERVICE DETAILS START
    ==============================*/
    .service_details_thumbnail {
        height: 370px;
    }

    .service_details_title {
        font-size: 36px;
    }

    .service_details_small_img {
        height: 195px;
    }

    .details_share {
        margin-top: 20px;
    }

    .sidebar_services ul li a .icon {
        width: 65px;
        height: 65px;
        padding: 15px;
    }

    .sidebar_services ul li a .text {
        width: 66%;
    }

    .sidebar_services ul li a .text h3 {
        font-size: 18px;
    }

    .sidebar_expert {
        height: 375px;
    }

    .sidebar_expert .text {
        padding: 25px;
    }

    /*=============================
        SERVICE DETAILS END
    ==============================*/

    /*=============================
        TEAM DETAILS START
    ==============================*/
    .team_details_text_top {
        padding: 20px;
    }

    .team_details_img {
        height: 450px;
    }

    .team_details_text p {
        font-size: 14px;
        margin-top: 15px;
    }

    /*=============================
        TEAM DETAILS END
    ==============================*/
    .single_team_text .title {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /*=============================
        HOME PAGE 01 START
    ==============================*/
    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 2px 0px;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .main_menu .navbar-nav {
        line-height: 50px !important;
        background: var(--colorBlue) !important;
        padding-top: 10px;
        border-bottom: 1px solid #eeeeee6b;
        padding-bottom: 10px;
        border-radius: 0;
    }

    .main_menu .menu_right_btn {
        background: var(--colorBlue);
        padding: 20px;
    }

    .main_menu #navbarNav {
        margin-top: 10px;
    }

    /* menu end */
    .banner {
        height: auto;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .banner .banner_img {
        justify-content: center;
    }

    .banner .banner_img .img {
        height: 550px;
    }

    .banner .banner_text {
        margin-bottom: 30px;
    }

    .section_heading h2 {
        font-size: 44px;
    }

    .section_heading_2 {
        padding-bottom: 5px;
    }

    .single_services p {
        margin-bottom: 10px;
    }

    .faq .faq_text {
        margin-top: 25px;
    }

    .filter_btn {
        gap: 10px 15px;
    }

    .filter_btn button {
        font-size: 14px;
    }

    .single_portfolio .img {
        height: 210px;
    }

    .text_slider .marquee_animi ul li {
        font-size: 34px;
    }

    .text_slider .marquee_animi ul li::after {
        top: 0px;
    }

    .about_text p {
        font-size: 16px;
    }

    .about_text .about_video {
        margin-top: 31px;
        margin-bottom: 50px;
    }

    .about_img {
        height: 455px;
    }

    .testimonial_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .call_to_action_text .text {
        width: 100%;
    }

    .call_to_action_img {
        height: 480px;
        margin-top: 25px;
    }

    .single_blog_img {
        height: 255px;
    }

    .footer_mailbox {
        padding: 45px;
    }

    .footer_mailbox h2 {
        font-size: 34px;
    }

    .footer_mailbox .mail {
        padding-left: 80px;
        margin-top: 15px;
    }

    .footer_mailbox .mail .icon {
        width: 65px;
        height: 65px;
        padding: 13px;
        top: -2px;
    }

    .footer_info {
        margin-bottom: 50px;
    }

    .footer_info p {
        margin-bottom: 20px;
    }

    .footer_subscription form {
        margin-top: 35px;
    }

    .progress-wrap {
        right: 15px;
        bottom: 15px;
    }

    .footer_copyright p span,
    .footer_copyright p a {
        margin-bottom: 15px;
    }

    .main_menu .droap_menu {
        left: 22px;
        max-height: 250px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    /*=============================
        HOME PAGE 01 END
    ==============================*/

    /*=============================
        HOME PAGE 02 START
    ==============================*/
    .banner_2 .banner_text p {
        max-width: 100%;
    }

    .banner_2 {
        padding-top: 85px;
        padding-bottom: 0;
    }

    .banner_2 .banner_img .img {
        margin-top: 0;
        height: 655px;
    }

    .single_services_2 {
        padding: 50px 35px;
    }

    .single_services_2 .title {
        margin-top: 30px;
        font-size: 20px;
    }

    .single_services_2 p {
        margin-bottom: 30px;
    }

    .about_2_img .text h2 {
        font-size: 100px;
        line-height: initial;
    }

    .about_2_img .text {
        bottom: -30px;
    }

    .about_2_img .text P {
        font-size: 16px;
        max-width: 100%;
    }

    .about_2_img .bottom,
    .about_2_img::after,
    .about_2_img::before,
    .awar_text::after,
    .client_feedback_text_right {
        display: none;
    }

    .about_2_img .text h2 span {
        top: 0;
        right: -25px;
    }

    .about_2_text .top span {
        width: 65px;
        height: 65px;
    }

    .about_2_text {
        margin-top: 25px;
    }

    .single_case_studies {
        height: 445px;
    }

    .awar_text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .single_team_img {
        height: 380px;
    }

    .testimonial_description_2 {
        padding-top: 20px;
        padding-left: 12px;
        margin-top: 20px;
    }

    .testimonial_item_title {
        margin-top: 0;
    }

    .testimonial_description_2 p {
        font-size: 18px;
    }

    .blog_2 .section_heading .common_btn {
        display: none;
    }

    .blog_img_2 {
        height: 215px;
    }

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        right: 14px;
        top: -85px;
    }

    .case_studies .prevArrow {
        right: 64px;
    }

    .testimonial_description_2::after {
        display: none;
    }

    .testimonial_2 .slick-dots {
        bottom: -10px;
    }

    .single_team_text .title {
        font-size: 20px;
    }

    .banner_2 .banner_text h1,
    .banner_2 .banner_text h1 span {
        font-size: 72px;
    }

    .navbar-toggler {
        margin-right: 12px;
    }

    /*=============================
        HOME PAGE 02 END
    ==============================*/

    /*=============================
        HOME PAGE 03 START
    ==============================*/
    .banner_3 .banner_text {
        padding-top: 35px;
    }

    .banner_3 .banner_text h1 {
        font-size: 48px;
        line-height: initial;
    }

    .banner_3_videos {
        justify-content: start;
    }

    .fun_fact_3 {
        overflow: hidden;
        padding: 40px 0px 0px 0px;
    }

    .fun_fact_3::after,
    .fun_fact_3_img {
        display: none;
    }

    .fun_fact_3_text li {
        padding: 0;
        border-right: 0;
        padding-right: 0;
        margin-bottom: 50px;
        width: 50%;
    }

    .fun_fact_3_text li:last-of-type {
        padding-left: 0;
    }

    .fun_fact_3_text li,
    .fun_fact_3_text li p {
        max-width: 100%;
    }

    .fun_fact_3_text li h2 {
        font-size: 46px;
        padding-left: 30px;
    }

    .fun_fact_3_text li h2::after {
        font-size: 46px;
        left: 0;
    }

    .about_us_3_img {
        height: 720px;
    }

    .portfolio_3 .section_heading .common_btn {
        display: none;
    }

    .portfolio_item_3 {
        height: 480px;
    }

    .partner_3_logo_area p {
        font-size: 16px;
    }

    .partner_3_logo_area ul li {
        width: 50%;
        padding: 40px 90px;
        border-right: 1px solid var(--borderColor) !important;
    }

    .single_services_3 .text {
        padding: 30px 30px 25px 30px;
    }

    .single_services_3 h2 {
        font-size: 30px;
        padding: 30px;
    }

    .testimonial_3 {
        padding-left: 12px;
    }

    .testimonial_3 .section_heading {
        margin-bottom: 50px !important;
    }

    .single_testimonial_3_content .text {
        width: 83%;
    }

    .team_3 .section_heading .common_btn {
        display: none;
    }

    .single_team_3 {
        height: 405px;
    }

    .single_team_3 .text a {
        font-size: 18px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 0;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 50px;
        top: -90px;
    }

    .blog_3 .prevArrow {
        right: 97px;
    }

    .blog_3 .slick-list {
        padding-right: 5px !important;
    }

    .single_blog_3_text {
        max-width: 68%;
    }

    .footer_3_top ul li img {
        max-width: 150px;
    }

    .footer_3_top ul li:last-child img {
        max-width: 35px;
    }

    .footer_3_top {
        padding: 0;
    }

    .footer_3_content {
        padding: 75px 0px 0px 0px;
    }

    .footer_3::after {
        display: none;
    }

    .footer_3_content::after {
        left: -100px;
    }

    .footer_3_top ul {
        gap: 15px;
        margin-bottom: 30px;
    }

    .footer_3 .footer_link {
        margin-bottom: 0;
    }

    /*=============================
        HOME PAGE 03 END
    ==============================*/

    /*=============================
        ABOUT US START
    ==============================*/
    .breadcrumb_text h1 {
        font-size: 54px;
    }

    .breadcrumb_text {
        padding: 110px 0px 60px 0px;
    }

    /*=============================
        ABOUT US END
    ==============================*/

    /*=============================
        BLOG DETAILS START
    ==============================*/
    .blog_det_img {
        height: 395px;
    }

    .blog_det_center_img {
        height: 310px;
    }

    .single_comment .text {
        width: 87%;
    }

    .single_comment.reply .text {
        width: 85%;
    }

    .det_comment_input {
        margin-bottom: 50px;
    }

    .blog_sidebar_product ul li .text {
        width: 83%;
    }

    /*=============================
        BLOG DETAILS END
    ==============================*/
    .billing_details {
        margin-bottom: 45px;
    }

    .contact_form {
        padding-left: 0;
    }

    .contact_map {
        height: 500px;
    }

    .error_text h2 {
        font-size: 250px;
        line-height: 250px;
    }

    .error_text h4 {
        margin-top: 0;
    }

    .faq_page .faq_thimbnail {
        height: 275px;
    }

    .faq_page_text {
        margin-bottom: 35px;
    }

    .sign_in_form {
        margin: 0;
    }

    /*=============================
        PORTFOLIO DETAILS START
    ==============================*/
    .portfolio_details_thumbnail {
        height: 270px;
    }

    .portfolio_details_sidebar {
        padding-left: 0;
    }

    .portfolio_details_content {
        margin-bottom: 30px;
    }

    /*=============================
        PORTFOLIO DETAILS END
    ==============================*/

    /*=============================
        SERVICE DETAILS START
    ==============================*/
    .service_details_thumbnail {
        height: 415px;
    }

    .service_details_title {
        font-size: 38px;
    }

    .service_details_small_img {
        height: 220px;
    }

    .service_details_tags_share {
        margin-bottom: 50px;
    }

    .sidebar_services ul li a .text {
        width: 75%;
    }

    .sidebar_expert {
        height: 580px;
    }

    /*=============================
        SERVICE DETAILS END
    ==============================*/

    /*=============================
        TEAM DETAILS START
    ==============================*/
    .team_details_img {
        height: 515px;
    }

    .team_details_text_top {
        margin-top: 25px;
    }

    .team_details_contact h3 {
        font-size: 38px;
    }

    /*=============================
        TEAM DETAILS END
    ==============================*/
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /*=============================
        HOME PAGE 01 START
    ==============================*/
    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 2px 0px;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .main_menu .navbar-nav {
        line-height: 50px !important;
        background: var(--colorBlue) !important;
        padding-top: 10px;
        border-bottom: 1px solid #eeeeee6b;
        padding-bottom: 10px;
        border-radius: 0;
    }

    .main_menu .menu_right_btn {
        background: var(--colorBlue);
        padding: 20px;
    }

    .main_menu #navbarNav {
        margin-top: 10px;
    }

    /* menu end */
    .banner {
        height: auto;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .banner .banner_text h1,
    .banner .banner_text h1 span {
        font-size: 72px;
        line-height: initial;
    }

    .banner .banner_img {
        justify-content: center;
    }

    .banner .banner_img .img {
        height: 550px;
    }

    .banner .banner_text {
        margin-bottom: 30px;
    }

    .section_heading h2 {
        font-size: 38px;
    }

    .counter ul li p {
        font-size: 14px;
    }

    .services .section_heading .common_btn {
        display: none;
    }

    .single_services {
        padding: 30px;
    }

    .single_services p {
        margin-bottom: 10px;
    }

    .faq_img .img_1 {
        width: 390px;
        height: 470px;
    }

    .faq_img .img_2 {
        width: 300px;
        height: 425px;
        right: 0;
    }

    .faq .faq_text {
        margin-top: 25px;
    }

    .accordian_area .accordion-header button {
        font-size: 18px;
    }

    .filter_btn {
        width: 100%;
        justify-content: center;
        padding: 30px 0px 30px 0px;
    }

    .single_portfolio .img {
        height: 325px;
    }

    .text_slider .marquee_animi ul li {
        font-size: 34px;
    }

    .text_slider .marquee_animi ul li::after {
        top: 0px;
    }

    .about_text p {
        font-size: 16px;
    }

    .about_text .about_video {
        margin-top: 31px;
        margin-bottom: 50px;
    }

    .about_img {
        height: 515px;
    }

    .single_testimonial_bg {
        padding: 50px 30px;
    }

    .testimonial_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .counter ul li {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #11101315;
        padding: 30px 0px;
    }

    .call_to_action_text .text {
        width: 100%;
    }

    .call_to_action_img {
        height: 480px;
        margin-top: 25px;
    }

    .single_blog_img {
        height: 390px;
    }

    .footer_mailbox {
        padding: 35px;
    }

    .footer_mailbox h2 {
        font-size: 26px;
    }

    .footer_mailbox .mail {
        padding-left: 80px;
        margin-top: 15px;
    }

    .footer_mailbox .mail .icon {
        width: 65px;
        height: 65px;
        padding: 13px;
        top: -2px;
    }

    .footer_info,
    .footer_link {
        margin-bottom: 50px;
    }

    .footer_info p {
        margin-bottom: 20px;
    }

    .footer_subscription form {
        margin-top: 35px;
    }

    .progress-wrap {
        right: 15px;
        bottom: 15px;
    }

    .footer_copyright p span,
    .footer_copyright p a {
        margin-bottom: 15px;
    }

    .main_menu .droap_menu {
        left: 22px;
        max-height: 250px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    /*=============================
        HOME PAGE 01 END
    ==============================*/

    /*=============================
        HOME PAGE 02 START
    ==============================*/
    .banner_2 .banner_text p {
        max-width: 100%;
    }

    .banner_2 {
        padding-top: 85px;
        padding-bottom: 0;
    }

    .banner_2 .banner_img .img {
        margin-top: 0;
        height: 655px;
    }

    .single_services_2 {
        padding: 40px 50px;
    }

    .single_services_2 .title {
        margin-top: 30px;
        font-size: 20px;
    }

    .single_services_2 p {
        margin-bottom: 30px;
    }

    .about_2_img .img {
        width: 440px;
        height: 420px;
    }

    .about_2_img .text h2 {
        font-size: 100px;
        line-height: initial;
    }

    .about_2_img .text {
        padding: 20px;
        right: 5px;
        bottom: -30px;
    }

    .about_2_img .text P {
        font-size: 16px;
        max-width: 100%;
    }

    .about_2_img .bottom,
    .about_2_img::after,
    .about_2_img::before,
    .awar_text::after,
    .client_feedback_text_right {
        display: none;
    }

    .about_2_img .text h2 span {
        top: 0;
        right: -25px;
    }

    .about_2_text .top span {
        width: 65px;
        height: 65px;
    }

    .about_2_text {
        margin-top: 25px;
    }

    .single_case_studies {
        height: 675px;
    }

    .case_studies_contact_text p {
        font-size: 18px;
    }

    .awar_text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .awards_list ul li {
        padding: 20px;
    }

    .single_team_img {
        height: 275px;
    }

    .testimonial_description_2 {
        padding-top: 20px;
        padding-left: 12px;
        margin-top: 20px;
    }

    .testimonial_item_title {
        margin-top: 0;
    }

    .testimonial_description_2 p {
        font-size: 18px;
    }

    .blog_2 .section_heading .common_btn {
        display: none;
    }

    .blog_img_2 {
        height: 325px;
    }

    .case_studies .nextArrow,
    .case_studies .prevArrow {
        right: 14px;
        top: -85px;
    }

    .case_studies .prevArrow {
        right: 64px;
    }

    .testimonial_description_2::after {
        display: none;
    }

    .testimonial_2 .slick-dots {
        bottom: -10px;
    }

    .single_team_text .title {
        font-size: 20px;
    }

    .navbar-toggler {
        margin-right: 12px;
    }

    /*=============================
        HOME PAGE 02 END
    ==============================*/

    /*=============================
        HOME PAGE 03 START
    ==============================*/
    .banner_3 .banner_text {
        padding-top: 35px;
    }

    .banner_3 .banner_text h1 {
        font-size: 48px;
    }

    .banner_3_videos {
        justify-content: start;
    }

    .fun_fact_3 {
        overflow: hidden;
        padding: 40px 0px 0px 0px;
    }

    .fun_fact_3::after,
    .fun_fact_3_img {
        display: none;
    }

    .fun_fact_3_text li {
        padding: 0;
        border-right: 0;
        padding-right: 0;
        margin-bottom: 50px;
        width: 50%;
    }

    .fun_fact_3_text li:last-of-type {
        padding-left: 0;
    }

    .fun_fact_3_text li,
    .fun_fact_3_text li p {
        max-width: 100%;
    }

    .fun_fact_3_text li h2 {
        font-size: 46px;
        padding-left: 30px;
    }

    .fun_fact_3_text li h2::after {
        font-size: 46px;
        left: 0;
    }

    .about_us_3_img {
        height: 535px;
    }

    .about_us_3_text {
        padding: 25px;
    }

    .about_us_3_text .nav-pills .nav-item button {
        font-size: 14px;
    }

    .portfolio_3 .section_heading .common_btn {
        display: none;
    }

    .portfolio_item_3 {
        height: 365px;
    }

    .partner_3_logo_area p {
        font-size: 16px;
    }

    .partner_3_logo_area ul li {
        width: 50%;
        padding: 40px;
        border-right: 1px solid var(--borderColor) !important;
    }

    .testimonial_3 {
        padding-left: 12px;
    }

    .testimonial_3 .section_heading {
        margin-bottom: 50px !important;
    }

    .team_3 .section_heading .common_btn {
        display: none;
    }

    .single_team_3 {
        height: 300px;
    }

    .single_team_3 .text a {
        font-size: 18px;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 0;
    }

    .blog_3 .nextArrow,
    .blog_3 .prevArrow {
        right: 33px;
        top: -90px;
    }

    .blog_3 .prevArrow {
        right: 83px;
    }

    .single_blog_3_img {
        width: 195px;
        height: 280px;
    }

    .blog_3 .slick-list {
        padding-right: 5px !important;
    }

    .single_blog_3_text {
        padding: 20px;
    }

    .footer_3_top {
        padding: 0;
    }

    .footer_3_content {
        padding: 75px 0px 0px 0px;
    }

    .footer_3::after {
        display: none;
    }

    .footer_3_content::after {
        left: -100px;
    }

    .footer_3_top ul {
        gap: 15px;
        margin-bottom: 30px;
    }

    .footer_gallery ul li {
        width: 70px;
        height: 70px;
    }

    .portfolio_item_3 .text {
        padding: 20px;
    }

    .portfolio_item_3 .text a {
        font-size: 20px;
    }

    /*=============================
        HOME PAGE 03 END
    ==============================*/

    /*=============================
        ABOUT US START
    ==============================*/
    .breadcrumb_text h1 {
        font-size: 48px;
    }

    .breadcrumb_text {
        padding: 110px 0px 60px 0px;
    }

    /*=============================
        ABOUT US END
    ==============================*/

    /*=============================
        BLOG DETAILS START
    ==============================*/
    .blog_det_img {
        height: 300px;
    }

    .blog_det_center_img {
        height: 225px;
    }

    .blog_tags_and_share .right {
        margin-top: 20px;
    }

    .single_comment .text {
        width: 82% !important;
        padding: 20px;
        margin-top: 10px;
    }

    .single_comment.reply {
        padding-left: 0;
    }

    .det_comment_input {
        margin-bottom: 50px;
    }

    .blog_sidebar_product ul li .text {
        width: 78%;
    }

    .blog_sidebar_tags ul li a {
        font-size: 14px;
        padding: 7px 20px;
    }

    /*=============================
        BLOG DETAILS END
    ==============================*/
    .billing_details {
        margin-bottom: 45px;
    }

    /*=============================
        CONTACT US START
    ==============================*/
    .contact_img {
        height: 515px;
    }

    .contact_form {
        padding-left: 0;
        margin-top: 50px;
    }

    .contact_form h3 {
        font-size: 36px;
    }

    .contact_map {
        height: 400px;
    }

    /*=============================
        CONTACT US END
    ==============================*/
    .error_text h2 {
        font-size: 180px;
        line-height: 180px;
    }

    .error_text h4 {
        font-size: 42px;
        margin-top: 0;
    }

    /*=============================
        FAQ PAGE START
    ==============================*/
    .faq_page .faq_thimbnail {
        height: 205px;
    }

    .faq_page_text {
        margin-bottom: 35px;
    }

    .accordian_area .accordion-header button {
        font-size: 15px;
    }

    .faq_page .accordian_area .accordion-button::after {
        top: 13px;
    }

    .faq_page_text h3 {
        font-size: 34px;
    }

    /*=============================
        FAQ PAGE END
    ==============================*/
    .sign_in_form {
        margin: 0;
    }

    .sign_in_form ul li {
        width: 100%;
        margin-top: 10px;
    }

    /*=============================
        PORTFOLIO DETAILS START
    ==============================*/
    .portfolio_details_thumbnail {
        height: 235px;
    }

    .portfolio_details_sidebar {
        padding-left: 0;
    }

    .portfolio_details_content {
        margin-bottom: 30px;
    }

    /*=============================
        PORTFOLIO DETAILS END
    ==============================*/
    .single_pricing_heading {
        padding: 30px;
    }

    .single_pricing .text {
        padding: 30px 30px 25px 30px;
    }

    .privacy_policy_area {
        padding: 8px 30px 30px 30px;
    }

    /*=============================
        SERVICE DETAILS START
    ==============================*/
    .service_details_thumbnail {
        height: 310px;
    }

    .service_details_title {
        font-size: 34px;
    }

    .service_details_small_img {
        height: 160px;
    }

    .details_share {
        margin-top: 20px;
    }

    .service_details_tags_share {
        margin-bottom: 50px;
    }

    .sidebar_services ul li a .text {
        width: 78%;
    }

    .sidebar_expert {
        height: 655px;
    }

    .service_details_thumbnail a {
        width: 80px;
        height: 80px;
        padding: 30px;
        line-height: 18px;
    }

    /*=============================
        SERVICE DETAILS END
    ==============================*/

    /*=============================
        TEAM DETAILS START
    ==============================*/
    .team_details_img {
        height: 580px;
    }

    .team_details_text_top {
        padding: 20px;
    }

    .team_details_contact h3 {
        font-size: 38px;
    }

    /*=============================
        TEAM DETAILS END
    ==============================*/
}

@media (max-width: 575.99px) {

    /*=============================
        HOME PAGE 01 START
    ==============================*/
    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 2px 0px;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .navbar-toggler {
        margin-right: 12px;
    }

    .main_menu .navbar-nav {
        line-height: 50px !important;
        background: var(--colorBlue) !important;
        padding-top: 10px;
        border-bottom: 1px solid #eeeeee6b;
        padding-bottom: 10px;
        border-radius: 0;
    }

    .main_menu .menu_right_btn {
        background: var(--colorBlue);
        padding: 20px;
    }

    .main_menu #navbarNav {
        margin-top: 10px;
    }

    /* menu end */
    .banner {
        height: auto;
        padding-top: 85px;
        padding-bottom: 100px;
    }

    .banner .banner_text h1,
    .banner .banner_text h1 span {
        font-size: 52px;
        line-height: initial;
    }

    .banner .banner_img .img {
        height: auto;
    }

    .banner .banner_text {
        margin-bottom: 30px;
    }

    .section_heading h2 {
        font-size: 30px;
    }

    .services .section_heading .common_btn {
        display: none;
    }

    .single_services {
        padding: 30px;
    }

    .single_services p {
        margin-bottom: 10px;
    }

    .faq_img .img_1 {
        width: 90%;
        height: auto;
    }

    .faq_img .img_2 {
        width: 200px;
        height: auto;
        right: 0;
    }

    .faq .faq_text {
        margin-top: 25px;
    }

    .accordian_area .accordion-header button {
        font-size: 18px;
    }

    .accordion-button::after {
        top: 15px;
    }

    .filter_btn {
        width: 100%;
        gap: 10px 20px;
        justify-content: center;
        padding: 30px 0px 30px 0px;
    }

    .single_portfolio .img {
        height: auto;
    }

    .text_slider .marquee_animi ul li {
        font-size: 26px;
    }

    .text_slider .marquee_animi ul li::after {
        top: 0px;
    }

    .about_text p {
        font-size: 16px;
    }

    .about_text .about_video {
        margin-top: 31px;
        margin-bottom: 50px;
    }

    .about_img {
        height: auto;
    }

    .single_testimonial_bg {
        padding: 35px 25px;
    }

    .single_testimonial .client_text {
        font-size: 16px;
    }

    .testimonial_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .counter ul li {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #11101315;
        padding: 30px 0px;
    }

    .call_to_action_text .text {
        width: 100%;
    }

    .call_to_action_img {
        height: 480px;
        margin-top: 25px;
    }

    .single_blog_img {
        height: auto;
    }

    .footer_mailbox {
        padding: 30px;
    }

    .footer_mailbox h2 {
        font-size: 26px;
    }

    .footer_mailbox .mail {
        padding-left: 0;
        margin-top: 15px;
    }

    .footer_mailbox .mail .icon {
        display: none;
    }

    .footer_mailbox .mail a {
        font-size: 17px;
    }

    .footer_info,
    .footer_link {
        margin-bottom: 50px;
    }

    .footer_info p {
        margin-bottom: 20px;
    }

    .footer_subscription form {
        margin-top: 35px;
    }

    .progress-wrap {
        right: 15px;
        bottom: 15px;
    }

    .footer_copyright p span,
    .footer_copyright p a {
        margin-bottom: 15px;
    }

    .main_menu .droap_menu {
        left: 22px;
        max-height: 250px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    /*=============================
        HOME PAGE 01 END
    ==============================*/

    /*=============================
        HOME PAGE 02 START
    ==============================*/
    .banner_2 .banner_text p {
        max-width: 100%;
    }

    .banner_2 {
        padding-top: 85px;
        padding-bottom: 0;
    }

    .banner_2 .banner_img .img {
        margin-top: 0;
    }

    .banner_2 .banner_img .text {
        padding: 20px 20px 15px 20px;
    }

    .single_services_2 {
        padding: 40px 30px;
    }

    .single_services_2 .title {
        margin-top: 30px;
        font-size: 20px;
    }

    .single_services_2 p {
        margin-bottom: 30px;
    }

    .about_2_img .img {
        width: auto;
        height: auto;
    }

    .about_2_img .text h2 {
        font-size: 100px;
        line-height: initial;
    }

    .about_2_img .text {
        padding: 20px;
        right: 5px;
        bottom: -10px;
    }

    .about_2_img .text P {
        font-size: 16px;
        max-width: 100%;
    }

    .about_2_img .bottom,
    .about_2_img::after,
    .about_2_img::before,
    .awar_text::after,
    .client_feedback_text_right {
        display: none;
    }

    .about_2_img .text h2 span {
        top: 0;
        right: -25px;
    }

    .about_2_text .top span {
        width: 65px;
        height: 65px;
    }

    .about_2_text {
        margin-top: 25px;
    }

    .single_case_studies {
        height: auto;
    }

    .case_studies_contact_text p {
        font-size: 18px;
    }

    .awar_text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .awards_list ul li {
        padding: 20px;
    }

    .awards_list ul li p,
    .awards_list ul li p b,
    .awards_list ul li span {
        font-size: 12px;
    }

    .single_team_img {
        height: auto;
    }

    .testimonial_description_2 {
        padding-top: 20px;
        padding-left: 12px;
        margin-top: 20px;
    }

    .testimonial_item_title {
        margin-top: 0;
    }

    .testimonial_description_2 p {
        font-size: 18px;
    }

    .blog_2 .section_heading .common_btn {
        display: none;
    }

    .blog_img_2 {
        height: auto;
    }

    .blog_text_2 {
        padding: 20px;
    }

    .blog_text_2 ul li {
        font-size: 14px;
        margin-right: 15px;
    }

    .single_case_studies .text {
        padding: 10px;
    }

    .single_case_studies .text_bg {
        padding: 15px;
    }

    .single_case_studies .text span {
        display: none;
    }

    .title {
        font-size: 18px;
    }

    .testimonial_description_2::after,
    .testimonial_2_img_area {
        display: none;
    }

    .testimonial_2 .slick-dots {
        bottom: -10px;
    }

    /*=============================
        HOME PAGE 02 END
    ==============================*/

    /*=============================
        HOME PAGE 03 START
    ==============================*/
    .banner_3 .banner_text_3 h5 {
        font-size: 16px;
    }

    .banner_3 .banner_text {
        padding-top: 35px;
    }

    .banner_3 .banner_text h1 {
        font-size: 38px;
    }

    .banner_3_videos {
        justify-content: start;
    }

    .fun_fact_3 {
        overflow: hidden;
        padding: 40px 0px 0px 0px;
    }

    .fun_fact_3::after,
    .fun_fact_3_img {
        display: none;
    }

    .fun_fact_3_text li {
        padding: 0;
        border-right: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }

    .fun_fact_3_text li:last-of-type {
        padding-left: 0;
    }

    .fun_fact_3_text li,
    .fun_fact_3_text li p {
        max-width: 100%;
    }

    .fun_fact_3_text li h2 {
        font-size: 46px;
        padding-left: 30px;
    }

    .fun_fact_3_text li h2::after {
        font-size: 46px;
        left: 0;
    }

    .about_us_3_img {
        height: auto;
    }

    .about_us_3_text {
        padding: 25px;
    }

    .about_us_3_text .nav-pills .nav-item {
        width: auto;
    }

    .about_us_3_text .nav-pills {
        gap: 10px;
    }

    .portfolio_3 .section_heading .common_btn {
        display: none;
    }

    .portfolio_item_3 {
        height: auto;
    }

    .partner_3_logo_area p {
        font-size: 16px;
    }

    .partner_3_logo_area ul li {
        width: 100%;
        padding: 60px;
        border-right: 0;
    }

    .single_services_3 .text {
        padding: 30px 30px 25px 30px;
    }

    .single_services_3 h2 {
        font-size: 30px;
        padding: 30px;
    }

    .testimonial_3 {
        padding-left: 12px;
    }

    .testimonial_3 .section_heading {
        margin-bottom: 50px !important;
    }

    .single_testimonial_3_content .text {
        width: 100%;
    }

    .team_3 .section_heading .common_btn {
        display: none;
    }

    .single_team_3 {
        height: auto;
    }

    .blog_3 .blog_3_slider_area {
        padding-left: 0;
    }

    .single_blog_3_img {
        width: 100%;
        height: auto;
    }

    .blog_3 .slick-list {
        padding-right: 0px !important;
    }

    .single_blog_3_text {
        padding: 20px;
        max-width: 100%;
    }

    .footer_3_top {
        padding: 0;
    }

    .footer_3_content {
        padding: 75px 0px 0px 0px;
    }

    .footer_3::after {
        display: none;
    }

    .footer_3_content::after {
        left: -100px;
    }

    .footer_3_top ul {
        gap: 15px;
        margin-bottom: 30px;
    }

    /*=============================
        HOME PAGE 03 END
    ==============================*/

    /*=============================
        ABOUT US START
    ==============================*/
    .breadcrumb_text h1 {
        font-size: 34px;
    }

    .breadcrumb_text ul li,
    .breadcrumb_text ul li a {
        font-size: 13px;
    }

    .breadcrumb_text ul {
        padding: 12px 15px 8px 35px;
        gap: 10px 15px;
    }

    .breadcrumb_text ul li a::after {
        top: 6px;
        right: -9px;
    }

    .breadcrumb_text ul::after {
        font-size: 13px;
        top: 12px;
        left: 13px;
    }

    .breadcrumb_text {
        padding: 110px 0px 60px 0px;
    }

    /*=============================
        ABOUT US END
    ==============================*/

    /*=============================
        BLOG DETAILS START
    ==============================*/
    .blog_det_img {
        height: auto;
    }

    .blog_det_text_header .left {
        gap: 10px;
    }

    .blog_det_text_header .left li {
        font-size: 14px;
    }

    .blog_det_center_img {
        height: auto;
    }

    .blog_tags_and_share .right {
        margin-top: 20px;
    }

    .single_comment .text {
        width: 100% !important;
        padding: 20px;
        margin-top: 10px;
    }

    .single_comment .text h4 span {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .single_comment.reply {
        padding-left: 0;
    }

    .det_comment_input {
        margin-bottom: 50px;
    }

    .blog_sidebar_product ul li .text {
        width: 56%;
    }

    .blog_sidebar_tags ul li a {
        font-size: 14px;
        padding: 7px 20px;
    }

    /*=============================
        BLOG DETAILS END
    ==============================*/

    /*=============================
        CHECKOUT START
    ==============================*/
    .billing_details {
        margin-bottom: 45px;
    }

    .checkout_payment_info {
        padding: 15px 20px 20px 20px;
    }

    .checkout_payment_info .form-check label,
    .checkout_payment_info ul li,
    .checkout_payment_info ul li span {
        font-size: 14px;
    }

    /*=============================
        CHECKOUT END
    ==============================*/

    /*=============================
        CONTACT US START
    ==============================*/
    .contact_img {
        height: auto;
    }

    .contact_form {
        padding-left: 0;
        margin-top: 50px;
    }

    .contact_form h3 {
        font-size: 36px;
    }

    .contact_map {
        height: 360px;
    }

    /*=============================
        CONTACT US END
    ==============================*/
    .error_text h2 {
        font-size: 130px;
        line-height: initial;
    }

    .error_text h4 {
        font-size: 34px;
        margin-top: 0;
    }

    /*=============================
        FAQ PAGE START
    ==============================*/
    .faq_page .faq_thimbnail {
        height: auto;
    }

    .faq_page_text h3 {
        font-size: 28px;
    }

    .faq_page_text {
        margin-bottom: 35px;
    }

    .faq_page .accordian_area .accordion-button::after {
        top: 26px;
    }

    /*=============================
        FAQ PAGE END
    ==============================*/
    .sign_in_form {
        padding: 30px;
        margin: 0;
    }

    .sign_in_form ul li {
        width: 100%;
        margin-top: 10px;
    }

    /*=============================
        PORTFOLIO DETAILS START
    ==============================*/
    .portfolio_details_thumbnail {
        height: auto;
    }

    .portfolio_details_sidebar {
        padding-left: 0;
    }

    .portfolio_details_content {
        margin-bottom: 30px;
    }

    /*=============================
        PORTFOLIO DETAILS END
    ==============================*/
    .single_pricing_heading {
        padding: 30px;
    }

    .single_pricing .text {
        padding: 30px 30px 25px 30px;
    }

    .privacy_policy_area {
        padding: 8px 30px 30px 30px;
    }

    /*=============================
        SERVICE DETAILS START
    ==============================*/
    .service_details_thumbnail {
        height: auto;
    }

    .service_details_title {
        font-size: 34px;
    }

    .service_details_small_img {
        height: auto;
    }

    .details_share {
        margin-top: 20px;
    }

    .service_details_tags_share {
        margin-bottom: 50px;
    }

    .sidebar_services ul li a .text {
        width: 100%;
    }

    .sidebar_expert {
        height: auto;
    }

    .sidebar_expert .text {
        padding: 20px;
    }

    .service_details_thumbnail a {
        width: 80px;
        height: 80px;
        padding: 30px;
        line-height: 18px;
    }

    /*=============================
        SERVICE DETAILS END
    ==============================*/

    /*=============================
        TEAM DETAILS START
    ==============================*/
    .team_details_img {
        height: auto;
    }

    .team_details_text_top {
        padding: 20px;
    }

    .team_details_text_top ul {
        margin-top: 15px;
        position: initial;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    .team_details_contact h3 {
        font-size: 34px;
    }

    .team_details_input button {
        width: auto !important;
    }

    /*=============================
        TEAM DETAILS END
    ==============================*/
}